<!-- views/pages/about.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>UFLA Monitoria API</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        text-align: center;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
  </style>
</head>
<body>
  <header>
    <% include ../partials/navebar %>
  </header>

   <main>
     <div class="container">

    <div class="jumbotron listaMonitorias">
     <p>Lista de Monitorias</p>
     <table>
       <thead>
         <tr>
           <th>Nome</th>
           <th>Código</th>
           <th>ID</th>
           <th>Oferta</th>
           <th>Professor</th>
           <th>Monitor</th>
           <th>Editar</th>
           <th>Deletar</th>
         </tr>
         <% monitorias.forEach(function (monitoria) { %>
         <tr>
           <th><%= monitoria.nomeDisciplina   %></th>
           <th><%= monitoria.codigoDisciplina %></th>
           <th><%= monitoria._id              %></th>
           <th><%= monitoria.oferta           %></th>
           <th><%= monitoria.professor        %></th>
           <th>                                 </th>
           <th><a class="btn btn-warning btn-block" href="/monitorias/editar/<%= monitoria._id %>">Editar</a></th>
           <th><a class="btn btn-raised btn-danger btn-block" onclick="return confirm('Tem certeza que deseja excluir a monitoria? Esta ação não poderá ser desfeita!');" href="/monitorias/deletar/<%= monitoria._id %>">Deletar</a></th>
         </tr>
         <% }); %>
       </thead>
       <tbody>
       </tbody>
     </table>
   </div>

    <div class="jumbotron cadastroMonitorias">
        <p>Cadastro de Monitorias</p>
        <form action="/adm/monitorias" method="post" class="form-horizontal">
          <div class="form-group">
            <label>Nome:</label><input type="text" class="form-control form-control-sm" name="nomeDisciplina">
          </div>
          <div class="form-group">
            <label>Código:</label><input type="text" class="form-control" name="codigoDisciplina">
          </div>
          <div class="form-group">
            <label>Oferta:</label><input type="text" class="form-control" name="oferta">
          </div>
          <div class="form-group">
            <label>Local:</label><input type="text" class="form-control" name="local">
          </div>
          <div class="form-group">
            <label>Google Maps:</label><input type="text" class="form-control" name="googlemaps">
          </div>
          <div class="form-group">
            <label>Matrícula Monitor:</label><input type="text" class="form-control" name="monitor">
          </div>
          <div class="form-group">
            <label>Código Professor:</label><input type="text" class="form-control" name="professor">
          </div>
          <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
        </form>
     </div>

     </div>
   </main>

  <footer>
  </footer>
</body>
</html>
