<!-- views/pages/about.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>UFLA Monitoria API</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      text-align: center;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>

<body>
  <header>
    <% include partials/navebar %>
  </header>

  <main>
    <div class="container listagem">

      <div class="jumbotron dadosPrincipais">
        <p>Bem-vinda(o),
          <%= monitor.nome %>
        </p>
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Matrícula</th>
              <th>E-mail</th>
              <th>Editar Dados</th>
            </tr>
            <tr>
              <th>
                <%= monitor.nome %>
              </th>
              <th>
                <%= monitor.matricula %>
              </th>
              <th>
                <%= monitor.login %>
              </th>
              <th>
                <a class="btn btn-warning btn-block" href="/monitores/editar/<%= monitor._id %>"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
              </th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

      <div class="jumbotron planoDeTrabalho">
        <p>Monitoria</p>
        <table>
          <thead>
            <tr>
              <th>DISCIPLINA</th>
              <th>CÓDIGO</th>
              <th>PROFESSOR</th>
              <th>SEMESTRE</th>
              <th>DETALHES</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <th><%= monitoria.nomeDisciplina %></th>
                <th><%= monitoria.codigoDisciplina %></th>
                <th><%= monitoria.professorNome %></th>
                <th><%= monitoria.oferta %></th>
                <th><a class="btn btn-info btn-block" href="/monitores/infoMonitoria/<%= monitor._id %>/<%= monitoria._id %>"><span class="glyphicon glyphicon-plus"></span></a></th>
              </tr>
          </tbody>
        </table>

      </div>

      <div class="jumbotron listaAtividades">
        <p>Registro de Atividades</p>
        <% if (flag == false) { %>
          <a class="btn btn-primary btn-block" href="/planoMonitoria/registrarAtividade/<%= monitor._id %>/<%= monitor.materiaMonitorada %>">Iniciar Atividades</a>
          <% } else {%>
            <table>
              <thead>
                <tr>
                  <th>TÍTULO</th>
                  <th>DATA</th>
                  <th>HORA DE INÍCIO</th>
                  <th>HORA DE TÉRMINO</th>
                  <th>HORA TOTAIS</th>
                  <th>DELETAR</th>
                </tr>
              </thead>
              <tbody>
                <% atividadesR.forEach(function(atividadeR) { %>
                  <tr>
                    <th><%= atividadeR.titulo %></th>
                    <th><%= atividadeR.data.dia %></th>
                    <th><%= atividadeR.horaInicio %></th>
                    <th><%= atividadeR.horaTermino %></th>
                    <th><%= atividadeR.horasRegistradas %></th>
                    <th><a class="btn btn-raised btn-danger btn-block" onclick="return confirm('Tem certeza que deseja excluir a atividade? Esta ação não poderá ser desfeita!');" href="/planoMonitoria/excluirAtividadeRegistrada/<%= monitor._id %>/<%= monitor.materiaMonitorada %>/<%= atividadeR._id %>"><span class="glyphicon glyphicon-remove"></span> Deletar</a></th>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
            <br>
            <a class="btn btn-primary btn-block" href="/planoMonitoria/registrarAtividade/<%= monitor._id %>/<%= monitor.materiaMonitorada %>">Registrar Atividade</a>
            <% } %>
      </div>

      <!--<div class="jumbotron pesquisaMonitorias">
      <p>Procurar Monitoria</p>
      <form action="/monitorias/pesquisar/<%= monitor._id %>" method="get" class="form-inline">
        <label class="sr-only" for="nomeMonitoria">Nome da Monitoria</label>
        <input type="text" class="form-control" id="nomeMonitoria" name="nomeMonitoria" placeholder="Cálculo I...">
        <button type="submit" class="btn btn-primary">Pesquisar</button>
      </form>
    </div>-->

      <div class="jumbotron listaNotificacoes">
        <p>Notificações</p>
      </div>

    </div>
  </main>

  <footer>
  </footer>
</body>

</html>