<!-- views/pages/about.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UFLA Monitoria API</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        text-align: center;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
  </style>
</head>
<body>
  <header>
    <% include partials/navebar %>
  </header>

   <main>
     <div class="container listagem">

      <div class="jumbotron planoDeTrabalho">
        <p>Plano de Trabalho</p>
        <br>
        <% if (flag == false) { %>
          <a class="btn btn-primary btn-block" href="/planoMonitoria/cadastrarAtividade/<%= professor %>/<%= monitoria._id %>">Iniciar Plano de Trabalho</a>
        <% } else {%>  
        <table>
          <thead>
            <tr>
              <th>TITULO</th>
              <th>DESCRIÇÃO</th>
              <th>HORAS TOTAIS</th>
              <th>HORAS CUMPRIDAS</th>
              <th>PORCENTAGEM</th>
              <th>EDITAR</th>
              <th>EXCLUIR</th>
            </tr>
           <% atividades.forEach(function(atividade) { %> 
            <tr>
              <th><%= atividade.titulo %></th>
              <th><%= atividade.observacoes %></th>  
              <th><%= atividade.horasTotais %></th>  
              <th></th>  
              <th></th>  
              <th><a class="btn btn-raised btn-warning btn-block" href="/planoMonitoria/editarAtividade/<%= professor %>/<%= monitoria._id %>/<%= atividade._id %>">Editar</a></th>
              <th><a class="btn btn-raised btn-danger btn-block" href="/planoMonitoria/excluirAtividade/<%= professor %>/<%= monitoria._id %>/<%= atividade._id %>">Excluir</a></th>
            </tr>
            <% }) %>
          </thead>
          <tbody>
          </tbody>
        </table>
        <br>
        <p>
            <a class="btn btn-primary btn-block" href="/planoMonitoria/cadastrarAtividade/<%= professor %>/<%= monitoria._id %>">Cadastrar nova atividade</a>
        </p>  
        <% } %>  
      </div>


      <div class="jumbotron atividadesRegistradas">
        <p>Atividades Registradas</p>
        <br>
        <% if (possuiAtReg == false) { %>
          Nenhuma atividade registrada ainda!
        <% } else {%>  
        <table>
          <thead>
            <tr>
              <th>TITULO</th>
              <th>DESCRIÇÃO</th>
              <th>OBSERVAÇÕES</th>
              <th>DATA</th>
              <th>HORA INICIAL</th>
              <th>HORA TÉRMINO</th>
              <th>EXCLUIR</th>
            </tr>
           <!-- < atividadesR.forEach(function(atividadeR) { > 
            <tr>
              <th> atividadeR.titulo </th>
              <th> atividadeR.descricao </th>  
              <th> atividadeR.observacoes </th>  
              <th></th>  
              <th></th>  
              <th></th>
              <th><a class="btn btn-raised btn-danger btn-block" href="#">Excluir</a></th>
            </tr> 
            < }) > -->
          </thead>
          <tbody>
          </tbody>
        </table>
        <% } %>  
      </div>

     </div>
   </main>

  <footer>
  </footer>
</body>
</html>
