<!-- views/pages/about.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>APP Monitoria</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
  </style>
</head>
<body>
  <header>
     <nav class="navbar navbar-inverse navbar-static-top">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div><!-- /.navbar-collapse -->
     </nav>
  </header>

   <main>
     <div class="container listagem">
       <div class="jumbotron text-center">
        <p>Lista de Alunos</p>
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Matrícula</th>
              <th>E-mail</th>
              <th>ID</th>
              <th>Editar</th>
              <th>Deletar</th>
            </tr>
            <% alunos.forEach(function (aluno) { %>
            <tr>
              <th><%= aluno.nome %></th>
              <th><%= aluno.matricula %></th>
              <th><%= aluno.login %></th>
              <th><%= aluno._id %></th>
              <th><a class="btn btn-warning" href="alunos/editar">Editar</a></th>
              <th><a class="btn btn-raised btn-danger" onclick="return confirm('Tem certeza que deseja excluir o aluno? Esta ação não poderá ser desfeita!');" href="alunos/deletar/<%= aluno._id %>">Deletar</a></th>
            </tr>
            <% }); %>
          </thead>
          <tbody>
          </tbody>
        </table>
     </div>
     </div>
     <div class="container cadastro">
       <div class="jumbotron text-center">
        <p>Cadastro de Alunos</p>
        <form action="/" method="post" class="form-horizontal">
          <div class="form-group">
            <label>Nome:</label><input type="text" class="form-control form-control-sm" name="nome">
          </div>
          <div class="form-group">
            <label>Matrícula:</label><input type="text" class="form-control" name="matricula">
          </div>
          <div class="form-group">
            <label>Telefone:</label><input type="text" class="form-control" name="telefone">
          </div>
          <div class="form-group">
            <label>Login (e-mail):</label><input type="email" class="form-control" name="login">
          </div>
          <div class="form-group">
            <label>Senha:</label><input type="password" class="form-control" name="senha">
          </div>
          <div class="form-group">
            <label>Nota:</label><input type="number" class="form-control" name="nota">
          </div>
          <button type="submit" class="btn btn-default">Cadastrar</button>
        </form>
     </div>
     </div>
   </main>

  <footer>
  </footer>
</body>
</html>
