<!-- views/pages/about.ejs -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>UFLA Monitoria API</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        text-align: center;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
  </style>
</head>
<body>
  <header>
    <% include partials/navebar %>
  </header>

   <main>
     <div class="container listagem">

      <div class="jumbotron resultadoMonitorias">
       <p>Resultado das Monitorias:</p>
       <table>
         <thead>
           <tr>
             <th>NOME</th>
             <th>LOCAL</th>
             <th>INFORMAÇÕES</th>
             <th>CADASTRAR</th>
           </tr>
           <% monitorias.forEach(function (monitoria) { %>
           <tr>
             <th><%= monitoria.nomeDisciplina %></th>
             <th><%= monitoria.local %></th>
             <th><a href="/infoMonitoria/<%= monitoria._id %>" class="btn btn-info btn-block" role="button"><span class="glyphicon glyphicon-plus"></span></a></th>
             <th><a href="/cadastrarMonitoria/<%= aluno %>/<%= monitoria._id %>" class="btn btn-success btn-block" role="button"> Cadastrar </a></th>
           </tr>
           <tr>
             <iframe width="1020" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyABavoCKgp1-bPzJI_mWdrP2ka2mDtfTqE&q=<%= monitoria.googlemaps %>" allowfullscreen>
             </iframe>
           </tr>
           <% }); %>
         </thead>
         <tbody>
         </tbody>
       </table>
       <br>
       <div>
           <a class="btn btn-block btn-primary" href="/indexAlunos/<%= aluno %>"><span class="glyphicon glyphicon-arrow-left"></span> Voltar</a>
       </div>    
       <br>

     </div>

     </div>
   </main>

  <footer>
  </footer>
</body>
</html>
