<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UFLA Monitoria API</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        text-align: center;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
  </style>
</head>
<body>
  <header>
  </header>

   <main>
     <div class="container listagem">

      <div class="jumbotron planoDeTrabalho">
        <p>Plano de Trabalho</p>
        <br>
        <% if (flagPlanoT == false) { %>
          <a class="btn btn-primary btn-block" href="/planoMonitoria/cadastrarAtividade/<%= professor %>/<%= monitoria._id %>">Iniciar Plano de Trabalho</a>
        <% } else {%>  
        <table>
          <thead>
            <tr>
              <th>TITULO</th>
              <th>DESCRIÇÃO</th>
              <th>HORAS TOTAIS</th>
              <th>HORAS CUMPRIDAS</th>
              <th>PORCENTAGEM</th>
            </tr>
           <% atividades.forEach(function(atividade) { %> 
            <tr>
              <th><%= atividade.titulo %></th>
              <th><%= atividade.observacoes %></th>  
              <th><%= atividade.horasTotais %></th>  
              <th><%= atividade.horasContabilizadas %></th>  
              <th>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= atividade.porcentagem %>%" aria-valuenow="<%= atividade.porcentagem %>" aria-valuemin="0" aria-valuemax="100"></div>
                </div>  
              </th>  
            </tr>
            <% }) %>
          </thead>
          <tbody>
          </tbody>
        </table>
        <% } %>  
      </div>


      <% if (flagPlanoT == true) { %>
      <div class="jumbotron atividadesRegistradas">
        <p>Atividades Registradas</p>
        <br>
        <% if (flagAtivReg == false) { %>
          <p>Nenhuma atividade registrada ainda!</p>
        <% } else {%>  
        <table>
          <thead>
            <tr>
              <th>TITULO</th>
              <th>OBSERVAÇÕES</th>
              <th>DATA</th>
              <th>HORA INICIAL</th>
              <th>HORA TÉRMINO</th>
              <th>HORAS TOTAIS</th>
            </tr>
           <% atividadesR.forEach(function(atividadeR) { %> 
            <tr>
              <th><%= atividadeR.titulo %></th>
              <th><%= atividadeR.observacoes %></th>  
              <th><%= atividadeR.data.dia %></th>  
              <th><%= atividadeR.horaInicio %></th>  
              <th><%= atividadeR.horaTermino %></th>
              <th><%= atividadeR.horasRegistradas %></th>
            </tr> 
            <% }) %>
          </thead>
          <tbody>
          </tbody>
        </table>
        <% } %>  
      </div>
      <% } %>
     </div>
   </main>

  <footer>
  </footer>
</body>
</html>
